In [40]:
import os
import openai
import dotenv
 

openai.api_key = os.getenv('OPENAI_API_KEY')

def llm(prompt, stop=["\n"]):
    response = openai.Completion.create(
      model="text-davinci-002",
      prompt=prompt,
      temperature=0,
      max_tokens=100,
      top_p=1,
      frequency_penalty=0.0,
      presence_penalty=0.0,
      stop=stop
    )
    return response["choices"][0]["text"]

In [2]:
from consts import * 
import sqlenv, wrappers
import requests

env = sqlenv.SQLEnv()
env = wrappers.WikiSQLWrapper(env)
env = wrappers.LoggingWrapper(env)

def step(env, action):
    attempts = 0
    while attempts < 5:
        try:
            return env.step(action)
        except requests.exceptions.Timeout:
            attempts += 1

/Users/byronzhang/opt/anaconda3/envs/unclip/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Found cached dataset wikisql (/Users/byronzhang/.cache/huggingface/datasets/wikisql/default/0.1.0/7037bfe6a42b1ca2b6ac3ccacba5253b1825d31379e9cc626fc79a620977252d)
100%|██████████| 3/3 [00:00<00:00, 209.47it/s]

In [3]:
instruction = """You are given the header of a SQL table named df and a query you need to find an answer to. Use logical step-by-step Thought, Action, and Observation to get to the correct answer. In your actions, you can issue a SQL query on the table to fetch the next observation. Return your answer in finish[<answer>].
"""
examples = [EXAMPLE_REGULAR, EXAMPLE_AND, EXAMPLE_MAX, EXAMPLE_EMPTY]

wikisql_prompt = instruction
for j, example in enumerate(examples):
    wikisql_prompt += example.format(i=j+1)

def wikisql(idx=1, prompt=wikisql_prompt, to_print=True):
    question = env.reset(idx=idx)
    if to_print:
        print(idx, question)
    prompt += question
    n_calls, n_badcalls = 0, 0
    for i in range(1, 5):
        n_calls += 1
        thought_action = llm(prompt + f"Thought {i}:", stop=[f"\nObservation {i}:"])
        try:
            thought, action = thought_action.strip().split(f"\nAction {i}: ")
        except:
            print('ohh...', thought_action)
            n_badcalls += 1
            n_calls += 1
            thought = thought_action.strip().split('\n')[0]
            action = llm(prompt + f"Thought {i}: {thought}\nAction {i}:", stop=[f"\n"]).strip()
        obs, r, done, info = step(env, action[0].lower() + action[1:])
        obs = obs.replace('\\n', '')
        step_str = f"Thought {i}: {thought}\nAction {i}: {action}\nObservation {i}: {obs}\n"
        prompt += step_str
        if to_print:
            print(step_str)
        if done:
            break
    if not done:
        obs, r, done, info = step(env, "finish[]")
    if to_print:
        print(info, '\n')
    info.update({'n_calls': n_calls, 'n_badcalls': n_badcalls, 'traj': prompt})
    return info

In [15]:
question = env.reset(idx=2)
env.step("""sql[SELECT * FROM df WHERE UPPER([Location]) = UPPER("Aspen, USA")]""")

    Season         Date                   Location    Discipline Place
0     2009  20 Nov 2008                Aspen , USA  Giant Slalom   1st
1     2010  12 Dec 2009               Åre , Sweden  Giant Slalom   1st
2     2011  27 Nov 2010                 Aspen, USA  Giant Slalom   1st
3     2011  12 Dec 2010    St.Moritz , Switzerland  Giant Slalom   1st
4     2011  28 Dec 2010        Semmering , Austria  Giant Slalom   1st
5     2012  28 Dec 2011            Lienz , Austria  Giant Slalom   3rd
6     2012  21 Jan 2012   Kranjska Gora , Slovenia  Giant Slalom   1st
7     2012  12 Feb 2012           Soldeu , Andorra  Giant Slalom   1st
8     2013   9 Dec 2012    St. Moritz, Switzerland  Giant Slalom   3rd
9     2013  16 Dec 2012        Courchevel , France  Giant Slalom   3rd
10    2013  28 Dec 2012         Semmering, Austria  Giant Slalom   3rd
11    2013  17 Mar 2013  Lenzerheide , Switzerland  Giant Slalom   2nd

('|   Season | Date        | Location   | Discipline   | Place   |\n|---------:|:------------|:-----------|:-------------|:--------|\n|     2011 | 27 Nov 2010 | Aspen, USA | Giant Slalom | 1st     |',
 0,
 False,
 {'steps': 1, 'answer': None})

In [5]:
infos = []
for i, idx in zip(range(100), RANDOM_QUESTION_INDICES):
    info = wikisql(idx=i, to_print=False)
    info["question_idx"] = idx
    infos.append(info)

In [9]:
import json

with open("results_react.json", 'w') as f:
    json.dump(infos, f)

In [11]:
import pickle
with open("results_react.pkl", 'wb') as f:
    pickle.dump(infos, f)

In [37]:
infos[25]

{'steps': 3,
 'answer': '6',
 'n_calls': 3,
 'n_badcalls': 0,
 'traj': 'You are given the header of a SQL table named df and a query you need to find an answer to. Use logical step-by-step Thought, Action, and Observation to get to the correct answer. In your actions, you can issue a SQL query on the table to fetch the next observation. Return your answer in finish[<answer>].\n\nEXAMPLE 1:\nHeader: [\'Player\', \'No.\', \'Nationality\', \'Position\', \'Years in Toronto\', \'School/Club Team\']\nQuestion: [What is terrence ross\' nationality]\nThought 1: I need to find the information related to terrence ross.\nAction 1: sql[SELECT * FROM df WHERE UPPER([Player]) = UPPER("Terrence Ross")]\nObservation 1: \n| Player        |   No. | Nationality   | Position   | Years in Toronto   | School/Club Team   |\n|:--------------|------:|:--------------|:-----------|:-------------------|:-------------------|\n| Terrence Ross |    31 | United States | Guard      | 2012-present       | Washington         |\nThought 2: Now I need to find the information in the “Nationality” column of terrence ross\nAction 2: sql[SELECT [Nationality] FROM df WHERE UPPER([Player]) = UPPER("Terrence Ross")]\nObservation 2: \n| Nationality   |\n|:--------------|\n| United States |\nThought 3: Finally, I need to get the information under Nationality and return the final answer.\nAction 3: finish[United States]\n\nEXAMPLE 2:\nHeader: [\'Scheme\', \'Tariff code\', \'BTs retail price (regulated)\', \'Approx premium\', \'Prefixes\']\nQuestion: [What prefixes are priced at pence per minute, fixed at all times with a premium of 3p/min?]\nThought 1: I need to find the rows in the table where the "Scheme" is "Pence per minute, fixed at all times," and the "Approx premium" is "3p/min."\nAction 1: sql[SELECT * FROM df WHERE UPPER([Scheme]) = UPPER("Pence per minute, fixed at all times") AND UPPER([Approx premium]) = UPPER("3p/min")]\nObservation 1: \n| Scheme                               | Tariff code   | BTs retail price (regulated)   | Approx premium   | Prefixes   |\n|:-------------------------------------|:--------------|:-------------------------------|:-----------------|:-----------|\n| Pence per minute, fixed at all times | g27           | 1.277p/min                     | 3p/min           | 0843, 0844 |\n| Pence per minute, fixed at all times | g28           | 2.128p/min                     | 3p/min           | 0843, 0844 |\nThought 2: Now I need to extract the "Prefixes" column from the rows that match the criteria.\nAction 2: sql[SELECT [Prefixes] FROM df WHERE [Scheme] = "Pence per minute, fixed at all times" AND [Approx premium] = "3p/min"]\nObservation 2: \n| Prefixes   |\n|:-----------|\n| 0843, 0844 |\n| 0843, 0844 |\nThought 3: Finally, I need to combine the prefixes from the selected rows and return the unique prefixes as the final answer.\nAction 3: finish[0843, 0844]\n\nEXAMPLE 3: \nHeader: [\'Year\', \'Aircraft kilometers\', \'Departures\', \'Flying hours\', \'Passengers\', \'Seat factor\', \'Employees\', \'Profit/loss\']\nQuestion: [Of the years that had exactly 17096 departures, what is the greatest number of aircraft kilometers flown?]\nThought 1: I need to first find the years that had exactly 17096 departures\nAction 1: sql[SELECT * FROM df WHERE [Departures] = "17096"]\nObservation 1:\n|   Year |   Aircraft kilometers |   Departures |   Flying hours |   Passengers | Seat factor   |   Employees | Profit/loss        |\n|-------:|----------------------:|-------------:|---------------:|-------------:|:--------------|------------:|:-------------------|\n|   2002 |              37767709 |        17096 |          55970 |      1339779 | 66%           |        3008 | Loss 3,044,000 JOD |\nThought 2: Now I need to find the row that corresponds to the greatest number of aircraft kilometers flown. I’ll need to use MAX to do this.\nAction 2: sql[SELECT max([Aircraft kilometers]) FROM df WHERE [Departures] = "17096"]\nObservation 2:\n|   max([Aircraft kilometers]) |\n|-----------------------------:|\n|                  3.77677e+07 |\nThought 3: Finally, I need to return the Aircraft kilometers as the final answer.\nAction 3: finish[3.77677e+07]\n\nEXAMPLE 4:\nHeader: [\'Position\', \'Artist\', \'Song title\', \'Highest position\', \'Points\']\nQuery: [what is the minimum\xa0highest position\xa0with\xa0artbeingt\xa0being paul evans]Thought 1: I need to find the rows in the table where the "Artist" is "Paul Evans."\nAction 1: sql[SELECT * FROM df WHERE UPPER([Artist]) = UPPER("Paul Evans")]\nObservation 1: |   Position | Artist     | Song title                                        |   Highest position |   Points |\n|-----------:|:-----------|:--------------------------------------------------|-------------------:|---------:|\n|         36 | Paul Evans | " Seven Little Girls (Sitting In The Back Seat) " |                  6 |       78 |\nThought 2: Now I need to find the row that corresponds to the minimum highest position. I’ll need to use MIN to do this.\nAction 2: sql[SELECT min([Highest position]) FROM df WHERE UPPER([Artist]) = UPPER("Paul Evans")]\nObservation 2: |   min([Highest position]) |\n|--------------------------:|\n|                         6 |\nThought 3: Finally, I need to return the highest position as the final answer.\nAction 3: finish[6]\nObservation 3: Episode finished.\n\n',
 'question_idx': 885}