In [1]:
import os
import openai
import dotenv
 

# openai.api_key = os.getenv('OPENAI_API_KEY')
openai.api_key = "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"
# model = "gpt-4-0314"
model = "text-davinci-003"


def llm(prompt, stop=["\n"]):
  if model == "gpt-4-0314":
    response = openai.ChatCompletion.create(
      model=model,
      messages=prompt,
      temperature=0,
      max_tokens=100,
      top_p=1,
      frequency_penalty=0.0,
      presence_penalty=0.0,
      stop=stop,
    )
    return response['choices'][0]['message']['content']
    
  response = openai.Completion.create(
    model=model,
    prompt=prompt,
    temperature=0,
    max_tokens=100,
    top_p=1,
    frequency_penalty=0.0,
    presence_penalty=0.0,
    stop=stop
  )
  return response["choices"][0]["text"]

In [2]:
from consts import * 
from consts_actonly import *
from consts_thoughtonly import *
from consts_standard import *
import sqlenv, wrappers
import requests

env = sqlenv.SQLEnv()
env = wrappers.WikiSQLWrapper(env)
env = wrappers.LoggingWrapper(env)

def step(env, action):
    attempts = 0
    while attempts < 5:
        try:
            return env.step(action)
        except requests.exceptions.Timeout:
            attempts += 1

/Users/byronzhang/opt/anaconda3/envs/unclip/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Found cached dataset wikisql (/Users/byronzhang/.cache/huggingface/datasets/wikisql/default/0.1.0/7037bfe6a42b1ca2b6ac3ccacba5253b1825d31379e9cc626fc79a620977252d)
100%|██████████| 3/3 [00:00<00:00, 209.41it/s]

In [3]:
instruction = """You are given the header of a SQL table named df and a question you need to find an answer to. Use logical step-by-step Thought, Action, and Observation to get to the correct answer. In your actions, you can issue a SQL query on the table to fetch the next observation. Return your answer in finish[<answer>].
"""
instruction_cot = """You are given the header of a SQL table named df and a question you need to find an answer to. Use logical step-by-step Thought to get to the correct answer. Return your answer in finish[<answer>].
"""
modes = ["react", "act_only", "thought_only", "standard"][0]

examples = [EXAMPLE_REGULAR, EXAMPLE_AND, EXAMPLE_COUNT, EXAMPLE_EMPTY]
if modes == "react":
    examples = [EXAMPLE_REGULAR, EXAMPLE_AND, EXAMPLE_COUNT, EXAMPLE_EMPTY]
    ACT_ONLY = False
elif modes == "act_only":
    examples = [EXAMPLE_REGULAR_A, EXAMPLE_AND_A, EXAMPLE_COUNT_A, EXAMPLE_EMPTY]
    ACT_ONLY = True
elif modes == "thought_only":
    instruction = """You are given the header of a SQL table named df and a question you need to find an answer to. Use logical step-by-step Thought to get to the correct answer. Return your answer in finish[<answer>].
    """
    examples = [EXAMPLE_REGULAR_T, EXAMPLE_AND_T, EXAMPLE_COUNT_T, EXAMPLE_EMPTY]
    ACT_ONLY = False
else:
    instruction = """You are given the header of a SQL table named df and a question you need to find an answer to. Return your answer in finish[<answer>].
    """
    examples = [EXAMPLE_REGULAR_S, EXAMPLE_AND_S, EXAMPLE_COUNT_S, EXAMPLE_EMPTY]
    ACT_ONLY = True
    


wikisql_prompt = instruction
for j, example in enumerate(examples):
    wikisql_prompt += example.format(i=j+1)

def wikisql(idx=1, prompt=wikisql_prompt, to_print=True, act_only=ACT_ONLY, cot=False):
    question = env.reset(idx=idx)
    if to_print:
        print(idx, question)
    prompt += question
    n_calls, n_badcalls = 0, 0
    for i in range(1, 5):
        n_calls += 1
        if act_only:
            thought_action = llm(prompt, stop=[f"\nObservation {i}:"])
        else:
            thought_action = llm(prompt + f"Thought {i}:", stop=[f"\nObservation {i}:"])
        try:
            if act_only:
                thought, action = thought_action.strip().split(f"Action {i}: ")
            else:
                thought, action = thought_action.strip().split(f"\nAction {i}: ")
        except:
            print('ohh...', thought_action)
            n_badcalls += 1
            n_calls += 1
            thought = thought_action.strip().split('\n')[0]
            action = llm(prompt + f"Thought {i}: {thought}\nAction {i}:", stop=[f"\n"]).strip()
        obs, r, done, info = step(env, action[0].lower() + action[1:])
        obs = obs.replace('\\n', '')
        if act_only:
            step_str = f"Action {i}: {action}\nObservation {i}: \n{obs}\n"
        else:
            step_str = f"Thought {i}: {thought}\nAction {i}: {action}\nObservation {i}: \n{obs}\n"
        prompt += step_str
        if to_print:
            print(step_str)
        if done:
            break
    if not done:
        obs, r, done, info = step(env, "finish[]")
    if to_print:
        print(info, '\n')
    info.update({'n_calls': n_calls, 'n_badcalls': n_badcalls, 'traj': prompt})
    return info

In [11]:
question = env.reset(idx=2)
question

"\nHeader: ['Season', 'Date', 'Location', 'Discipline', 'Place']\nQuestion: [How many seasons took place in aspen, usa?]"

In [4]:
# infos = []
# for i, idx in zip(range(100), RANDOM_QUESTION_INDICES):
#     info = wikisql(idx=i, to_print=False, act_only=ACT_ONLY)
#     info["question_idx"] = idx
#     infos.append(info)
wikisql(idx=3, to_print=True, act_only=ACT_ONLY)

3
Header: ['Date', 'Visitor', 'Score', 'Home', 'Record']
Question: [What's the score on february 18 when the visitors are the montreal canadiens?]
sql[SELECT * FROM df WHERE UPPER([Visitor]) = UPPER("Montreal Canadiens") AND [Date] = "February 18"]
Thought 1: I need to find the row in the table where the "Visitor" is "Montreal Canadiens" and the "Date" is "February 18".
Action 1: sql[SELECT * FROM df WHERE UPPER([Visitor]) = UPPER("Montreal Canadiens") AND [Date] = "February 18"]
Observation 1:
| Date        | Visitor            | Score   | Home    | Record   |
|:------------|:-------------------|:--------|:--------|:---------|
| February 18 | Montreal Canadiens | 9–0     | Toronto | 3–1–0    |

sql[SELECT [Score] FROM df WHERE UPPER([Visitor]) = UPPER("Montreal Canadiens") AND [Date] = "February 18"]
Thought 2: Now I need to find the score from the row that matches the criteria.
Action 2: sql[SELECT [Score] FROM df WHERE UPPER([Visitor]) = UPPER("Montreal Canadiens") AND [Date] = "February 18"]
Observation 2:
| Score   |
|:--------|
| 9–0     |

finish[9–0]
Thought 3: Finally, I need to return the score as the final answer.
Action 3: finish[9–0]
Observation 3:
Episode finished.


{'steps': 3, 'answer': '9–0'}

{'steps': 3,
 'answer': '9–0',
 'n_calls': 3,
 'n_badcalls': 0,
 'traj': 'You are given the header of a SQL table named df and a question you need to find an answer to. Use logical step-by-step Thought, Action, and Observation to get to the correct answer. In your actions, you can issue a SQL query on the table to fetch the next observation. Return your answer in finish[<answer>].\n\nEXAMPLE 1:\nHeader: [\'Player\', \'No.\', \'Nationality\', \'Position\', \'Years in Toronto\', \'School/Club Team\']\nQuestion: [What is terrence ross\' nationality]\nThought 1: I need to find the information related to terrence ross.\nAction 1: sql[SELECT * FROM df WHERE UPPER([Player]) = UPPER("Terrence Ross")]\nObservation 1: \n| Player        |   No. | Nationality   | Position   | Years in Toronto   | School/Club Team   |\n|:--------------|------:|:--------------|:-----------|:-------------------|:-------------------|\n| Terrence Ross |    31 | United States | Guard      | 2012-present       | Washington         |\nThought 2: Now I need to find the information in the “Nationality” column of terrence ross\nAction 2: sql[SELECT [Nationality] FROM df WHERE UPPER([Player]) = UPPER("Terrence Ross")]\nObservation 2: \n| Nationality   |\n|:--------------|\n| United States |\nThought 3: Finally, I need to get the information under Nationality and return the final answer.\nAction 3: finish[United States]\n\nEXAMPLE 2:\nHeader: [\'Scheme\', \'Tariff code\', \'BTs retail price (regulated)\', \'Approx premium\', \'Prefixes\']\nQuestion: [What prefixes are priced at pence per minute, fixed at all times with a premium of 3p/min?]\nThought 1: I need to find the rows in the table where the "Scheme" is "Pence per minute, fixed at all times," and the "Approx premium" is "3p/min".\nAction 1: sql[SELECT * FROM df WHERE UPPER([Scheme]) = UPPER("Pence per minute, fixed at all times") AND UPPER([Approx premium]) = UPPER("3p/min")]\nObservation 1: \n| Scheme                               | Tariff code   | BTs retail price (regulated)   | Approx premium   | Prefixes   |\n|:-------------------------------------|:--------------|:-------------------------------|:-----------------|:-----------|\n| Pence per minute, fixed at all times | g27           | 1.277p/min                     | 3p/min           | 0843, 0844 |\n| Pence per minute, fixed at all times | g28           | 2.128p/min                     | 3p/min           | 0843, 0844 |\nThought 2: Now I need to extract the "Prefixes" column from the rows that match the criteria.\nAction 2: sql[SELECT [Prefixes] FROM df WHERE [Scheme] = "Pence per minute, fixed at all times" AND [Approx premium] = "3p/min"]\nObservation 2: \n| Prefixes   |\n|:-----------|\n| 0843, 0844 |\n| 0843, 0844 |\nThought 3: Finally, I need to combine the prefixes from the selected rows and return the unique prefixes as the final answer.\nAction 3: finish[0843, 0844]\n\nEXAMPLE 3: \nHeader: [\'N°\', \'Television service\', \'Country\', \'Language\', \'Content\', \'DAR\', \'HDTV\', \'Package/Option\']\nQuestion: [How many television services are there where n°is greater than 856.0?]\nThought 1: I need to first find the rows in the table where "n°" is greater than 856.0.\nAction 1: sql[SELECT * FROM df WHERE [N°] > 856.0]\nObservation 1:\n|   N° | Television service   | Country   | Language   | Content   | DAR   | HDTV   | Package/Option   |\n|-----:|:---------------------|:----------|:-----------|:----------|:------|:-------|:-----------------|\n|  857 | Sender Neu Jerusalem | Germany   | German     | religione | 4:3   | no     | no ( FTA )       |\n|  858 | TRSP                 | Italy     | Italian    | religione | 4:3   | no     | no ( FTA )       |\nThought 2: Now I need to find the column that corresponds to Television service. I’ll need to use COUNT to know how many Televesion service there are.\nAction 2: sql[SELECT COUNT([Television service]) FROM df WHERE [N°] > "856.0"]\nObservation 2:\n|   COUNT([Television service]) |\n|------------------------------:|\n|                             2 |\nThought 3: Finally, I need to return the count of Television service as the final answer.\nAction 3: finish[2]\n\nEXAMPLE 4:\nHeader: [\'Date\', \'Visitor\', \'Score\', \'Home\', \'Record\']\nQuestion: [What\'s the score on february 18 when the visitors are the montreal canadiens?]Thought 1: I need to find the row in the table where the "Visitor" is "Montreal Canadiens" and the "Date" is "February 18".\nAction 1: sql[SELECT * FROM df WHERE UPPER([Visitor]) = UPPER("Montreal Canadiens") AND [Date] = "February 18"]\nObservation 1: \n| Date        | Visitor            | Score   | Home    | Record   |\n|:------------|:-------------------|:--------|:--------|:---------|\n| February 18 | Montreal Canadiens | 9–0     | Toronto | 3–1–0    |\nThought 2: Now I need to find the score from the row that matches the criteria.\nAction 2: sql[SELECT [Score] FROM df WHERE UPPER([Visitor]) = UPPER("Montreal Canadiens") AND [Date] = "February 18"]\nObservation 2: \n| Score   |\n|:--------|\n| 9–0     |\nThought 3: Finally, I need to return the score as the final answer.\nAction 3: finish[9–0]\nObservation 3: \nEpisode finished.\n\n'}

In [6]:
result_name = "results_standard_all"
import json

with open(f"{result_name}.json", 'w') as f:
    json.dump(infos, f)

In [7]:
import pickle
with open(f"{result_name}.pkl", 'wb') as f:
    pickle.dump(infos, f)

In [11]:
with open(f"{result_name}.pkl", 'rb') as f:
    infos_loaded = pickle.load(f)

In [12]:
infos_loaded[1]

{'steps': 1,
 'answer': '105°C',
 'n_calls': 1,
 'n_badcalls': 0,
 'traj': "You are given the header of a SQL table named df and a query you need to find an answer to. Use logical step-by-step Thought, Action, and Observation to get to the correct answer. In your actions, you can issue a SQL query on the table to fetch the next observation. Return your answer in finish[<answer>].\n\nEXAMPLE 1:\nHeader: ['Player', 'No.', 'Nationality', 'Position', 'Years in Toronto', 'School/Club Team']\nQuestion: [What is terrence ross' nationality]\nThought 1: Let's think step-by-step. Terrence Ross is American, so the answer is United States.\nAction 1: finish[United States]\n\nEXAMPLE 2:\nHeader: ['Scheme', 'Tariff code', 'BTs retail price (regulated)', 'Approx premium', 'Prefixes']\nQuestion: [What prefixes are priced at pence per minute, fixed at all times with a premium of 3p/min?]\nThought 1: Let's think step-by-step. The prefixes that are priced at pence per minute, fixed at all times are both 0843, 0844. Both prefixes are also fixed at all times with a premiuum of 3p/min. I need to combine the prefixes to return a unique prefix as the final answer, so the answer is 0843, 0844.\nAction 1: finish[0843, 0844]\n\nEXAMPLE 3: \nHeader: ['N°', 'Television service', 'Country', 'Language', 'Content', 'DAR', 'HDTV', 'Package/Option']\nQuestion: [How many television services are there where n° is greater than 856.0?]\nThought: Let's think step-by-step. Sender Neu Jerusalem and TRSP have n° greater than 856.0, so the answer is 2.\nAction 1: finish[2]\n\nEXAMPLE 4:\nHeader: ['Maximum Ceiling Temperature', 'Temperature Rating', 'Temperature Classification', 'Color Code (with Fusible Link)', 'Glass Bulb Color']\nQuestion: [Name the most ceiling temperature for intermediate]Thought 1: Let's think step-by-step. The most ceiling temperature for intermediate is 105°C, so the answer is 105°C.\nAction 1: finish[105°C]\nObservation 1: \nEpisode finished.\n\n",
 'question_idx': 1241}